version: 1.0.{build}
image: Ubuntu
skip_tags: true
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
install:
  - sh: printf "Commands with sh Prefix run on Linux image only"
  - sh: sudo apt-get update
  - sh: sudo apt-get install dotnet-sdk-2.1.300-rc1-008673 -y
  - sh: sudo apt-get install dotnet-runtime-2.1.0-rc1 -y
build_script:
  - dotnet build -c Release
test_script:
  - sh: dotnet tool install coveralls.net --version 1.0.0-beta0003 --tool-path "./tools"
  - sh: dotnet test ATMBotCore.xUnit.Tests/ATMBotCore.xUnit.Tests.csproj"" /p:CollectCoverage=true /p:Exclude="[ATMBotCore.*.Tests?]*" /p:CoverletOutputFormat=opencover /p:CoverletOutputDirectory=../../
  - sh: ./tools/csmacnz.Coveralls --opencover -i ATMBotCore.xUnit.Tests/coverage.opencover.xml --useRelativePaths